body {
	background-color: aliceblue;
}

.intro-titles {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.intro-picture {
	display: flex;
	justify-content: center;
}

.intro-img {
	border-radius: 50%;
}

.intro-text {
	margin-top: 30px;
}

.early-life {
	margin-top: 30px;
}
